/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans&display=swap');

html {
  background:url('../assets/landing-bg.png') no-repeat center center fixed;
  background-size:cover;
  color:#fd5962;
  font-family: 'Poppins', sans-serif;
}

main {
  height:250px;
  left: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:400px;
}

h1 {
  font-size: 4em;
}

h2 {
  color:#ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size:1.5em;
  line-height: 1.4;
  margin:0 auto;
  text-align: center;
  width:360px;
}

h3 {
  color:#787878;
  font-family: 'Work Sans', sans-serif;
  font-size:1em;
  margin:30px auto;
  text-align: center;
  text-transform: uppercase;
}

/*
 * Divs
 */

#logo {
  display:block;
  background:url('../assets/logo-creact-red.png') no-repeat;
  background-size: contain;
  height:80px;
  margin: 0 auto 30px auto;
  width:200px;
}